.homepage-img {
  filter: brightness(70%); /* Keeps the image darker */
}

.header-body {
  height: auto;
  display: grid;

  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  transition: transform 2s ease !important;
  transform-origin: right top !important;
  will-change: transform;
  transform: scale(2);
}

.heading-text {
  font-size: 18px;
  font-weight: 600;
  /* margin-bottom: 5px; */
}

.text-normal {
  font-size: 14px;
}
@media only screen and (max-width: 1100px) {
  .heading-text {
    font-size: 16px;
    font-weight: 600;
  }

  .text-normal {
    font-size: 11.5px;
  }
}
.header-pane {
  /* grid-area: 1 / 1 / 3 / 3; */
  border: 2px solid black;
  height: 33vh;
  overflow: hidden;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.pane1 {
  border: 2px solid black;
  height: 33vh;
}
.pane2 {
  height: 15.5vh;
  border: 3px solid black;
}
.pane3 {
  height: 17vh;
  margin-top: 5px;
  border: 3px solid black;
}

/* .pane1 {
  grid-area: 3 / 1 / 5 / 2;
  border: 3px solid black;
  height: 33vh;
}
.pane2 {
  grid-area: 3 / 2 / 4 / 3;
  border: 3px solid black;
}
.pane3 {
  grid-area: 4 / 2 / 5 / 3;
  border: 3px solid black;
}
.pane4 {
  grid-area: 5 / 1 / 6 / 2;
  border: 3px solid black;
}
.pane5 {
  grid-area: 5 / 2 / 6 / 3;
  border: 3px solid black;
} */

/* 
.shrink {
  transform: scale(0.5, 0.5);

} */

@keyframes shrinkAnimation {
  from {
    transform: scale(2); /* Start at double size */
  }
  to {
    transform: scale(1); /* End at normal size */
  }
}

.shrink {
  animation: shrinkAnimation 2s ease forwards;
}
